<div class="mega-menu">
    <div class="content">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li>
                        <a href="" class="menu-link d-inline py-1">Luxara Platinum</a>
                    </li>
                    <li>
                        <a href="" class="menu-link d-inline py-1">Luxara Classic</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="megamenu-image">
                    <img src="https://via.placeholder.com/308x174" alt="">
                </div>
            </div>
        </div>
    </div>
</div>