html, body {
    max-width: 100%;
    min-height: 100vh;
    font-size: $baseFontSize + px;
    font-family: $bodyFont;
    padding: 0;
    margin: 0;
    color: $baseTextColor;
    background: $bodyBg;
    font-style: normal;
    line-height: 1.75;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

ol, ul {
    margin-bottom: 0;
}
.fit-content{
    width: fit-content;
}
// Background
.bg-gradiant {
    background-color: linear-gradient(272.18deg, #FCD42A -52.03%, #0051E3 -23.7%, #065CEB -3.92%, #EF5526 51.13%, #FEEA46 103.54%);
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fit-content {
    width: fit-content;
    height: auto;
}

.flex-img {
    display: flex !important;
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.radius-4{
    border-radius: 4px !important;
}

main {
    position: relative;

    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($black, .6);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease-in-out;
        z-index: 9;
    }

    &.overlay {
        overflow: hidden;

        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
}

.scrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: #F5F5F5;
        opacity: .1;
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba($primaryColor, .6);
    }
}

.back-to-top{
    position: fixed;
    bottom: 47px;
    right: 0;
    background-color: #000;
    padding: 3px 10px;
    transform: rotate(-90deg) translateY(75px);
    color: #fff;
    height: 30px;
    padding-right: 30px;
    opacity: .2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: .5s ease-in-out;
    z-index: 99;

    &:hover, &:focus{
        color: $white;
        opacity: 1;
        text-decoration: none;
    }
    i{
        transform: rotate(90deg) translateX(-15px);
        position: absolute;
        top: 13.5px;
        right: 6px;
        display: block;
        font-size: 20px;
    }
    &.show{
        transform: rotate(-90deg) translateY(45px);
    }
}

.hover-img{
    .image{
        overflow: hidden;
    }
    img{
        transition: .3s ease-in-out;
        transform: scale(1.1) rotate(0deg);
    }
    &:hover img {
        transform: scale(1.05) rotate(2deg);
        filter: blur(1px);
    }
}

.slick-slider{
    &.slider-dotted{
        margin-bottom: 85px;
    }
    .slick-arrow{
        transition: .3s ease-in-out;
        position: absolute;
        top: 50%;
        z-index: 9;
        cursor: pointer;
        &.slick-disabled{
            opacity: .4;
            cursor: not-allowed;
        }
        &.slick-prev{
            left: -5px;
            transform: translate(-100% ,-50%);
    
        }
        &.slick-next{
            right: -5px;
            transform: translate(100% ,-50%);
        }
    }
    .slick-dots {
        position: absolute;
        display: flex;
        list-style: none;
        bottom: -48px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 0;
        li {
            width: 12px;
            height: 12px;
            border: 1px solid #4F4F4F;
            border-radius: 50%;
            margin: 0 16px;
            cursor: pointer;
            &.slick-active{
                background-color: #4F4F4F;
            }
            button{
                display: none;
            }
        }
    }
}

.stars{
    &.stars-sm{
        img{
            width: 22px;
        }
    }
}