<section class="banner banner-lg banner-top text-light bg " style="background-image: url('assets/images/content/banner.png');"> 
	<div class="container text-center d-flex flex-column align-items-center">
		<h1 class="fs-42 fw-700 font-title mb-3">Pure comfort without the markups</h1>
		<h4 class="fs-22 mb-5 fw-400">Discover pure sleep bliss with our handcrafted mattresses—at prices that won't keep you up at night.</h4>
		<a href="" class="btn btn-primary btn-lg fs-22">Shop now</a>
	</div>
</section>

<section class="py-lg">
	<div class="container">
		<div class="row row-cols-3">
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/1.png" alt="">
					</div>
					<h3 class="fs-24 fw-600 mb-3">Premium materials</h3>
					<p class="text-gray-2">Made with the finest quality materials, including antimicrobial bamboo, GECA certified foams, and eco-friendly components</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/2.png" alt="">
					</div>
					<h3 class="fs-24 fw-600 mb-3">Back Support</h3>
					<p class="text-gray-2"> Every Luxara mattress is engineered for pain-free sleep, with dedicated support to promote healthy spinal alignment</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/3.png" alt="">
					</div>
					<h3 class="fs-24 fw-600 mb-3">Handmade in Australia</h3>
					<p class="text-gray-2"> Individually handcrafted in Australia with eco-friendly materials</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-lg bg-light-2">
	<div class="container">
		<div class="section-title text-center mb-sm">
			<h3 class="fs-42 fw-700 font-title">Find the right Luxara mattress for you</h3>
		</div>
		<div class="row row-cols-2 mx-n4 mb-5">
			<div class="col px-4">
				<a href="" class="product-card text-light d-block hover-img">
					<div class="image">
						<img src="assets/images/content/4.png" alt="" class="w-100">
					</div>
					<div class="content">
						<h3 class="font-title fs-34 fw-700">Luxara Platinum</h3>
						<p class="text-uppercase letter-spacing-1">ULTRA-PREMIUM HYBRID MATTRESS</p>
						<p><small>Starting at </small> <span class="fs-24"> $1,999</span></p>
					</div>
				</a>
			</div>
			<div class="col px-4">
				<a href="" class="product-card text-light d-block hover-img">
					<div class="image">
						<img src="assets/images/content/4.png" alt="" class="w-100">
					</div>
					<div class="content">
						<h3 class="font-title fs-34 fw-700">Luxara Platinum</h3>
						<p class="text-uppercase letter-spacing-1">ULTRA-PREMIUM HYBRID MATTRESS</p>
						<p><small>Starting at </small> <span class="fs-24"> $1,999</span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a href="" class="btn btn-lg btn-primary fs-22">Compare All Mattresses</a>
		</div>
	</div>
</section>

<section class="pb-lg">
	<div class="banner banner-sm bg" style="background-image: url(https://via.placeholder.com/1440x387);"></div>
	<div class="container mt-nlg bg-white pt-5">
		<div class="section-title text-center mb-lg">
			<h3 class="fs-42 fw-700 font-title">All Luxara Mattresses have</h3>
		</div>
		<div class="row row-cols-3">
			<div class="col mb-5">
				<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/5.png" alt="">
					</div>
					<p class="text-gray-2">100% Bamboo outer cover that is  natural, breathable, non-synthetic, antimicrobial and hypoallergenic</p>
				</div>
			</div>
			<div class="col mb-5">
				<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/6.png" alt="">
					</div>
					<p class="text-gray-2"> Antimicrobial protection that inhibits bacteria for a longer lasting hygienic mattress</p>
				</div>
			</div>
			<div class="col mb-5">
				<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/7.png" alt="">
					</div>
					<p class="text-gray-2"> Naturally antibacterial and insulating for a fresher and more hygienic sleep</p>
				</div>
			</div>
			<div class="col mb-5">
				<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/8.png" alt="">
					</div>
					<p class="text-gray-2">GECA ensure materials meet the highest social, ethical, and environmental standards</p>
				</div>
			</div>
			<div class="col mb-5">
				<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/9.png" alt="">
					</div>
					<p class="text-gray-2"> Eco-friendly, superior quality, Australian made Dunlop foam layers</p>
				</div>
			</div>
			<div class="col mb-5">
				<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/10.png" alt="">
					</div>
					<p class="text-gray-2">Sensitive Choice® approved by National Asthma Council Australia and free from nasty chemicals</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pb-lg bg-light-2">
	<div class="banner banner-sm bg d-flex align-items-center" style="background-image: url(https://via.placeholder.com/1440x387);">
		<div class="section-title text-center mb-4">
			<h3 class="fs-42 fw-700 font-title text-light">The Luxara service standard</h3>
		</div>
	</div>
	<div class="container mt-nlg pt-5">
		<div class="row row-cols-4 mt-3">
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center bg-white py-4 px-3 h-100">
					<h3 class="fs-18 fw-600 mb-3">10-year warranty</h3>
					<p class="text-gray-2">We stand by the quality of our products. That’s why your Haven mattress comes with a 10-year warranty.</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center bg-white py-4 px-3 h-100">
					<h3 class="fs-18 fw-600 mb-3">Free delivery</h3>
					<p class="text-gray-2"> Whether you buy sheets or a mattress, you never have to pay for delivery. It’s free with every order.</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center bg-white py-4 px-3 h-100">
					<h3 class="fs-18 fw-600 mb-3">100-night home trial</h3>
					<p class="text-gray-2">Try our products in the comfort of your own home. If you don’t love them  we’ll gladly refund your money.</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center bg-white py-4 px-3 h-100">
					<h3 class="fs-18 fw-600 mb-3">Easy financing</h3>
					<p class="text-gray-2">We offer convenient monthly payments so you can shop now and pay later. Simply select Klarna at checkout.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-light-2 pb-lg">
	<div class="container">
		<div class="section-title text-center mb-lg">
			<h3 class="fs-42 fw-700 font-title mb-4">A better mattress at a better price</h3>
			<p class="fs-22 text-gray-2">Luxara isn't your typical internet mattress: It's the closest thing to a high-end retail mattress, without the expense or hassle of shopping in a mattress store. You'll pay a fraction of what you would pay at retail for the same high level of quality.</p>
		</div>
		<div class="position-relative better-mettress">
			<div class="row row-cols-4">
				<div class="col mb-4 mb-md-0">
					<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
						<div class="icon mb-4">
							<img src="assets/images/content/11.png" alt="">
						</div>
						<p class="text-gray-2">Handcrafted in <br> Australia</p>
					</div>
				</div>
				<div class="col mb-4 mb-md-0 mt-nsm">
					<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
						<div class="icon mb-4">
							<img src="assets/images/content/12.png" alt="">
						</div>
						<p class="text-gray-2">No commissioned <br> salespeope</p>
					</div>
				</div>
				<div class="col mb-4 mb-md-0 mt-nsm">
					<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
						<div class="icon mb-4">
							<img src="assets/images/content/13.png" alt="">
						</div>
						<p class="text-gray-2">No retail store markups <br> and overhead costs</p>
					</div>
				</div>
				<div class="col mb-4 mb-md-0">
					<div class="feature-card d-flex flex-column align-items-center px-md-5 text-center">
						<div class="icon mb-4">
							<img src="assets/images/content/14.png" alt="">
						</div>
						<p class="text-gray-2">Free delivery and set up<br> in your home</p>
					</div>
				</div>
			</div>
			<div class="arrow">
				<img src="assets/images/icons/line-arrow.svg" alt="">
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a href="" class="btn btn-lg btn-primary fs-22">Compare</a>
		</div>
	</div>
</section>

<section class="bg-light-2 pb-lg">
	<div class="container">
		<div class="section-title text-center mb-lg">
			<h3 class="fs-42 fw-700 font-title mb-4">The reviews speak for themselves</h3>
			<p class="fs-22 text-gray-2">See why happy sleepers across Australia have given Luxara mattresses an average rating of 9.7/10</p>
		</div>
		<div class="review-slider mx-n3">
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a href="" class="btn btn-lg btn-primary fs-22">See All Reviews</a>
		</div>
	</div>
</section>