<section class="banner banner-lg banner-top text-light bg " style="background-image: url('assets/images/content/banner.png');"> 
	<div class="container text-center d-flex flex-column align-items-center">
		<h1 class="fs-42 fw-700 font-title mb-3">Pure comfort without the markups</h1>
		<h4 class="fs-22 mb-5 fw-400">Discover pure sleep bliss with our handcrafted mattresses—at prices that won't keep you up at night.</h4>
		<a href="" class="btn btn-primary btn-lg fs-22">Shop now</a>
	</div>
</section>

<section class="py-lg">
	<div class="container">
		<div class="row row-cols-3">
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/1.png" alt="">
					</div>
					<h3 class="fs-24 fw-600 mb-3">Premium materials</h3>
					<p class="text-gray-2">Made with the finest quality materials, including antimicrobial bamboo, GECA certified foams, and eco-friendly components</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/2.png" alt="">
					</div>
					<h3 class="fs-24 fw-600 mb-3">Back Support</h3>
					<p class="text-gray-2"> Every Luxara mattress is engineered for pain-free sleep, with dedicated support to promote healthy spinal alignment</p>
				</div>
			</div>
			<div class="col mb-4 mb-md-0">
				<div class="feature-card d-flex flex-column align-items-center px-md-4 text-center">
					<div class="icon mb-4">
						<img src="assets/images/content/3.png" alt="">
					</div>
					<h3 class="fs-24 fw-600 mb-3">Handmade in Australia</h3>
					<p class="text-gray-2"> Individually handcrafted in Australia with eco-friendly materials</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-lg bg-light-2">
	<div class="container">
		<div class="section-title text-center mb-sm">
			<h3 class="fs-42 fw-700 font-title">Find the right Luxara mattress for you</h3>
		</div>
		<div class="row row-cols-2 mx-n4">
			<div class="col px-4">
				<div class="product-card text-light">
					<div class="image">
						<img src="assets/images/content/4.png" alt="" class="w-100">
					</div>
					<div class="content">
						<h3 class="font-title fs-34 fw-700">Luxara Platinum</h3>
						<p class="text-uppercase letter-spacing-1">ULTRA-PREMIUM HYBRID MATTRESS</p>
						<p><small>Starting at </small> <span class="fs-24">$1,999</span></p>
					</div>
				</div>
			</div>
			<div class="col px-4">
				<div class="product-card text-light">
					<div class="image">
						<img src="assets/images/content/4.png" alt="" class="w-100">
					</div>
					<div class="content">
						<h3 class="font-title fs-34 fw-700">Luxara Platinum</h3>
						<p class="text-uppercase letter-spacing-1">ULTRA-PREMIUM HYBRID MATTRESS</p>
						<p><small>Starting at </small> <span class="fs-24">$1,999</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
