 <section class="py-lg">
     <div class="container">
         <div class="section-title title-md text-center mb-sm">
             <h3 class="fs-42 fw-700 font-title mb-4">Specifications / Frequently asked question</h3>
         </div>
         <div class="accordion" id="faq">
             <div class="accordion-item mb-3 border-0">
                 <h2 class="accordion-header fs-22 fw-400 p-3 bg-light-2 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                    Measurements & dimensions 
                    <span></span>
                 </h2>
                 <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#faq">
                     <div class="accordion-body">
                         <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                         collapse plugin adds the appropriate classes that we use to style each element. These classes
                         control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                         modify any of this with custom CSS or overriding our default variables. It's also worth noting
                         that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                         does limit overflow.
                     </div>
                 </div>
             </div>

             <div class="accordion-item mb-3 border-0">
                 <h2 class="accordion-header fs-22 fw-400 p-3 bg-light-2 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                    Measurements & dimensions 
                    <span></span>
                 </h2>
                 <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faq">
                     <div class="accordion-body">
                         <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                         collapse plugin adds the appropriate classes that we use to style each element. These classes
                         control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                         modify any of this with custom CSS or overriding our default variables. It's also worth noting
                         that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                         does limit overflow.
                     </div>
                 </div>
             </div>


         </div>
     </div>
 </section>