<section class="product-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6"> 
                <div class="product-media pe-md-4">
                    <div class="product-images mb-3">
                        {% for i in range(0, 8) %}
                        <div class="item flex-img" style="max-height: 450px;">
                            <img class="w-100" src="https://via.placeholder.com/600x600" alt="{{ featured_image.alt | escape }}">
                        </div>
                        {% endfor %}
                    </div>

                    <div class="product-thumbs mx-n2">
                        {% for i in range(0, 8) %}
                        <div class="thumb-item flex-img px-2" style="height: 73px; cursor: pointer;">
                            <img src="https://via.placeholder.com/700x700" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="fs-32 fw-700 font-title mb-2">Platinum Mattress</h1>
                <p class="text-gray-2 mb-2">Our flagship hybrid innerspring mattress</p>
                <div class="d-flex align-items-center mb-2">
                    <div class="stars stars-sm d-flex me-2">
                        <img src="assets/images/icons/star.svg" alt="">
                        <img src="assets/images/icons/star.svg" alt="">
                        <img src="assets/images/icons/star.svg" alt="">
                        <img src="assets/images/icons/star.svg" alt="">
                        <img src="assets/images/icons/star.svg" alt="">
                    </div>
                    <span>(4.9)</span>
                </div>
                <h3 class="fs-32 fw-700 mb-3">$1,574</h3>

                <form action="/cart/add" method="post" enctype="multipart/form-data" class="AddToCartForm mb-5">
                    <div class="select-field mb-2">
                        <p class="d-flex justify-content-between mb-2">
                            SELECT SIZE	
                            <a href="" class="text-primary text-underline">Specs</a>
                        </p>
                        <div class="row row-cols-3 mx-n2">
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="size-1">
                                    <label for="size-1">Single </label>
                                </div>
                            </div>
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="size-2">
                                    <label for="size-2">King Single  </label>
                                </div>
                            </div>
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="size-3">
                                    <label for="size-3">Double  </label>
                                </div>
                            </div>
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="size-4">
                                    <label for="size-4">Queen  </label>
                                </div>
                            </div>
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="size-5">
                                    <label for="size-5">King  </label>
                                </div>
                            </div>
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="size-6">
                                    <label for="size-6">Super King  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select-field mb-3">
                        <p class="d-flex justify-content-between mb-2">
                            SELECT COMFORT LEVEL
                            <a href="" class="text-primary text-underline">Learn more</a>
                        </p>
                        <div class="row row-cols-3 mx-n2">
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="comfort-1">
                                    <label for="comfort-1">Luxury Medium</label>
                                </div>
                            </div>
                            <div class="col mb-3 px-2">
                                <div class="radio-button">
                                    <input type="radio" name="size" value="Single" id="comfort-2">
                                    <label for="comfort-2">Firm</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="add" id="AddToCart" class="btn btn-lg btn-primary w-100 fs-22 radius-4">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</section>