<section class="bg-light-2 pb-lg">
	<div class="container">
		<div class="section-title text-center mb-lg">
			<h3 class="fs-42 fw-700 font-title mb-4">The reviews speak for themselves</h3>
			<p class="fs-22 text-gray-2">See why happy sleepers across Australia have given Luxara mattresses an average rating of 9.7/10</p>
		</div>
		<div class="review-slider mx-n3">
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
			<div class="px-3">
				<div class="review-card bg-white p-4">
					<div class="stars d-flex mb-4">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
						<img src="assets/images/icons/star.svg" alt="">
					</div>

					<h4 class="fs-18 fw-600 mb-2">Fabulous sleep… at last!</h4>
					<p class="text-gray-2">Finally, whole night sleeping without having the “normal” flips and turns throughtout the night! And the customer service has been terrific.</p>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a href="" class="btn btn-lg btn-primary fs-22">See All Reviews</a>
		</div>
	</div>
</section>