{% set page = 'homepage' %}
{% extends "layouts/layout.njk" %}

{% block content %}
<main class="preloader homepage">
   {% include 'sections/banner.html' %}
   {% include 'sections/reviews.html' %}
</main>
{% endblock %}