@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../vendor/fonts/ACaslonPro/ACaslonPro-Regular.woff2') format('woff2'),
        url('../vendor/fonts/ACaslonPro/ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../vendor/fonts/ACaslonPro/ACaslonPro-Bold.woff2') format('woff2'),
        url('../vendor/fonts/ACaslonPro/ACaslonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../vendor/fonts/ACaslonPro/ACaslonPro-Semibold.woff2') format('woff2'),
        url('../vendor/fonts/ACaslonPro/ACaslonPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../vendor/fonts/ACaslonPro/ACaslonPro-SemiboldItalic.woff2') format('woff2'),
        url('../vendor/fonts/ACaslonPro/ACaslonPro-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');