.font-title{
    font-family: $primaryFont;
}

// Typography
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    font-weight: 700;
    margin: 0;
}

// font sizes
.fs-66 {
    font-size: rem(66);
}

.fs-48 {
    font-size: rem(48);
}

.fs-42 {
    font-size: rem(42);
}
.fs-34 {
    font-size: rem(34);
}

.fs-24 {
    font-size: rem(24);
}
.fs-22 {
    font-size: rem(22);
}

.fs-20 {
    font-size: rem(20);
}

.fs-18 {
    font-size: rem(18);
}

// font weights
.fw-900 {
    font-weight: 900 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-300 {
    font-weight: 300 !important;
}

// Line height
.lh-1 {
    line-height: 1 !important;
}

.letter-spacing-1{
    letter-spacing: 0.18em;
}

.text-underline{
    text-decoration: underline !important;
}