.font-title{
    font-family: $fontTitle;
}

// Typography
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 400;
    // color: #000000;
    margin: 0;
    font-family: $fontTitle;
}

.h1,
h1 {
    font-size: rem(45);
    @media(max-width: 767px){
        font-size: rem(30);
    }
}

.h2,
h2 {
    font-size: rem(45);
    @media(max-width: 1023px){
        font-size: rem(30);
    }
    @media(max-width: 639px){
        font-size: rem(26);
    }
}

.h3,
h3 {
    font-size: rem(28);
    @media(max-width: 767px){
        font-size: rem(20);
    }
}

.h4,
h4 {
    font-size: rem(25);
}

.h5,
h5 {
    font-size: rem(20);
}

.h6,
h6 {
    font-size: rem(18);
}
