// color
$white: #ffffff;
$black: #000000;

$dark: #333333;
$lightDark: #4F4F4F;

$gray: #828282;
$darkGray: #4C4C4C;
$lightGray: #FAFAFA;
$gray2: #4F4F4F;
$lightGray: #C4C4C4;

// Theme Colors
$primaryColor: #D5AA63;

$baseTextColor: $black;       
$lightTextColor: #8c8c8c;       

$bodyBg: $white;
$primaryBg: #f7f7f7;
$footerBg: #FAFAFA;

$border: #f0f0f0;
$error: #FF3326; 

$baseFontSize: 16;
$bodyFont: 'Source Sans Pro', sans-serif;
$primaryFont: 'Optima nova LT Pro', sans-serif;


$sectionSpace : 75px;
$sectionSpaceRes : 30px;

$formElementHeight: 60px;
$formElementHeightRes: 40px;

$btnBorderRadius: 50px;

$ancorTransition: .2s ease-in-out;