.banner{
    padding: 72px 0;
    min-height: 550px;
    .container {
        max-width: 768px;
    }

    &.banner-lg {
        min-height: 70vh;
    }

    &.banner-sm{
        min-height: 387px;
    }
}

.section-title {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.feature-card{
    .icon {
        height: 78px;
        display: flex;
        align-items: flex-end;
    }
}

.product-card{
    position: relative;
    .content {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 24px;
    }
}

.better-mettress{
    .arrow {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
    }
}