<footer class="site-footer">
    <div class="container mb-5">
        <a href="" class="mb-4 d-block">
            <img src="assets/images/logo.svg" alt="">
        </a>
        <div class="row">
            <div class="col-md-6">
                <h4 class="fs-22 fw-600">Join our newsletter</h4>
                <p class="text-gray-2">Sign up and get the latest product news and sleep tips.</p>

                <form class="newsletter mt-3">
                    <div class="d-flex">
                        <input type="text" class="px-3">
                        <button type="submit" class="btn btn-primary px-4">Sign Up</button>
                    </div>
                </form>

                <div class="social mt-3">
                    <a href="">
                        <img src="assets/images/icons/instagram.svg" alt="">
                    </a>
                    <a href="">
                        <img src="assets/images/icons/facebook.svg" alt="">
                    </a>
                    <a href="">
                        <img src="assets/images/icons/twitter.svg" alt="">
                    </a>
                </div>

                <div class="footer-menu mt-4">
                    <h4 class="fs-22 fw-600 mb-2">CONTACT</h4>
                    <ul class="text-gray-2">
                        <li>
                            <a href="mailto:info@luxara.com.au">info@luxara.com.au</a>
                        </li>
                        <li>
                            <a href="tel:1800 000 000">1800 000 000</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-menu mb-4">
                            <h4 class="fs-22 fw-600 mb-2">COMPANY</h4>
                            <ul class="text-gray-2">
                                <li>
                                    <a href="">About Us</a>
                                </li>
                                <li>
                                    <a href="">Australian Made</a>
                                </li>
                                <li>
                                    <a href="">Compare</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu mb-4">
                            <h4 class="fs-22 fw-600 mb-2">SHOP</h4>
                            <ul class="text-gray-2">
                                <li>
                                    <a href="">Mattresses</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-menu mb-4">
                            <h4 class="fs-22 fw-600 mb-2">SUPPORT</h4>
                            <ul class="text-gray-2">
                                <li>
                                    <a href="">FAQs</a>
                                </li>
                                <li>
                                    <a href="">Financing</a>
                                </li>
                                <li>
                                    <a href="">Shipping + Delivery</a>
                                </li>
                                <li>
                                    <a href="">100 Night Home trial</a>
                                </li>
                                <li>
                                    <a href="">Warranty</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="fs-22 fw-600 mb-3">CONVENIENT PAYMENT</h4>
                        <div class="d-flex">
                            <img src="assets/images/icons/visa.svg" alt="">
                            <img src="assets/images/icons/paypal.svg" alt="">
                            <img src="assets/images/icons/klarna.svg" alt="">
                            <img src="assets/images/icons/master-card.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-gray-2 fs-14">Copyright © 2021 Luxara</p>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="d-block mx-auto fit-content">
                            <img src="assets/images/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <ul class="copyright-menu">
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="">Privacy Policy </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>