<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel='shortcut icon' type='image/x-icon' href='{{ site.favicon }}'/>
    <title>{{ site.title }}</title>
    <!-- build:css assets/css/all.css -->
    <link rel="stylesheet" href="assets/css/vendor.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="assets/css/style.css">
  </head>

  <body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    {% include 'layouts/header.html' %}

    {% block content %}{% endblock %}

    {% include "layouts/footer.html" %}

    <!-- build:js assets/scripts/main.js -->
    <script type="text/javascript" src="assets/vendor/jquery/jquery.min.js"></script>
    <!-- endbuild -->
    <script type="text/javascript" src="assets/js/script.js"></script>
  </body>

</html>